@import '../../App.scss';

header {
  @include flex(row);
  align-items: center;
  justify-content: space-between;

  padding: 1.75em 0;

  h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-left: 0.55em;
  }

  nav ul {
    list-style: none;

    li button {
      background-color: transparent;
      border: none;
      margin-right: 2em;
    }
  }
}